CONFIG_FREERTOS_HZ=1000
CONFIG_COMPILER_CXX_EXCEPTIONS=y
CONFIG_TFT_MISO=19
CONFIG_TFT_MOSI=23
CONFIG_TFT_SCLK=18
CONFIG_TFT_CS=15
CONFIG_TFT_DC=2
CONFIG_TFT_RST=4
CONFIG_TFT_BL=32
CONFIG_TFT_MISO=19
CONFIG_TFT_MOSI=23
CONFIG_TFT_SCLK=18
CONFIG_TFT_CS=5
CONFIG_TFT_DC=27
CONFIG_TFT_RST=26
CONFIG_TFT_ILI9341_DRIVER=y
CONFIG_TFT_WIDTH=240
CONFIG_TFT_HEIGHT=320
CONFIG_TFT_SPI_FREQUENCY=27000000
